
.top { grid-area: 1 / 1 / 2 / 6;
  background-color: grey; 
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
  font-family: ubuntu;}
  .div2 { grid-area: 2 / 1 / 6 / 2; }
  .div3 { grid-area: 2 / 2 / 5 / 6; }




