/* div#parent { display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div2 { grid-area: 2 / 1 / 6 / 2; 
  height: 60px}

.div3 { grid-area: 2 / 2 / 5 / 6; 
    height: 60px}

.top { grid-area: 1 / 1 / 2 / 6;
  background-color: grey; 
  font-family: ubuntu;
  margin: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 40px;
  } */




